<html>
    <head>
        <title>Fruit Stock Management!</title>
		<style>
			th, td {
				padding: 15px;
			}
		</style>
    </head>
    <body>
        <div>Fruit Stock Management:
            <a href= "{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('manage_stock') }}">Manage Stock</a>
            <a href="{{ url_for('fruits') }}">Add Fruit</a>
          </div>
          <hr/>
          {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
          {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
